<style>
  .header {
     background-image: url(${url_background1}),
       url(${url_background2});
     background-size: 100% auto;
     background-repeat: no-repeat;
 }
     
 .center {
      margin: 0 auto;
     max-width: 100%;
     max-height: 100%;
 }
 
 .header_logo {
   padding-top: 30px;
   width: 198px;
 }
 
 .header_texto {
   text-align: ${text_align};
   color: ${color_text};
   margin-top: 20px;
   padding-bottom: 40px
 }
</style>
<div class="header">
 <div class="center">
 ${header_logo}
 </div>
 
 <div class="header_text center">
   ${header_text}
 </div>
</div>