<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
    <script src="https://ssor.trb.stage.tribdev.com/reg/tribune/chiarc.js" async></script>

    <div data-reg-role="checkout_page">
      <!-- Main Structure -->
      <style>
        .met-rule-${i} {
          border: blue 1px solid;
          padding: 5px;
        }
      </style>
        <div>
          <div data-reg-role="${module_1}">
            Module 1
          </div>
          <hr>

          <div data-reg-role="${module_2}">
            Module 2
          </div>
          <hr>

          <div data-reg-role="${module_3}">
            Module 3
          </div>
          <hr>

          <div data-reg-role="${module_4}">
            Module 4
          </div>
          <hr>
          
          <div data-reg-role="${module_5}">
            Module 5
          </div>
          <hr>
          
          <div data-reg-role="${module_6}">
            Module 6
          </div>
          <hr>
          
        </div>
      <!-- END Main Structure -->
    </div>
  </body>
</html>
