/* MCall Market Styles  */
body {
    background-color: rgb(231, 225, 225);
    color: rgb(216, 14, 14);
}

.layout {
    background-color: #eed3a2;
    color: rgb(44, 44, 78);
}

.button_next_step {
    background-color: #eed3a2;
    color: white;
}