/* MCall Market Styles  */
body {
    background-color: white;
    color: black;
}

.layout {
    background-color: #0090d2;
    color: white;
}

.button_next_step {
    background-color: #0090d2;
    color: white;
}