<script>
    Vue.component('step-progress', {
      template :  `
        <div class=" page_step_1 center">
            <div class="progress-container">     
                <div class="progress-bg"></div>
                <div class="progress-ball progress-ball1"
                     :class="classStep1">
                </div> 
                <div class="progress-bar progress-bar1"
                    :class="step == 1 ? 'progress-bar-pending' : 'progress-bar-completed'">
                </div>
                <div class="progress-ball progress-ball2"
                     :class="classStep2">
                </div> 
                <div class="progress-bar progress-bar2"
                    :class="step == 3 ? 'progress-bar-completed' : 'progress-bar-pending'">
                </div>
                <div class="progress-ball progress-ball3"
                     :class="classStep3">
                </div>   
                
                <div class="progress-card card-step1" v-if="step == 1">
                    <div class="progress-title">Step 1 of 3</div>
                    <div class="progress-text">Provide email</div>
                </div>

                <div class="progress-card card-step2" v-if="step == 2">
                    <div class="progress-title">Step 2 of 3</div>
                    <div class="progress-text">Log In</div>
                </div>

                <div class="progress-card card-step3" v-if="step == 3">
                    <div class="progress-title">Step 3 of 3</div>
                    <div class="progress-text">Pay & subscribe</div>
                </div>
            </div>   
        </div>
    `,
      data: function () {
        return {
          count: 98989
        }
      },
      computed: {
          step(){
              return this.$store.state.activeStep;
          },
          classStep1() {
            if(this.$store.state.activeStep == 1)
                return 'ball-active';
            else
                return 'ball-completed fas fa-check';
          },
          classStep2() {
            switch(this.$store.state.activeStep) {
                case 1: return 'ball-pending';
                case 2: return 'ball-active';
                case 3: return 'ball-completed fas fa-check';
            }
          },
          classStep3() {
            if(this.$store.state.activeStep == 3)
                return 'ball-active';
            else
                return 'ball-pending';
          }
      },  
      mounted: function(){
          var css_text = `
            .page_step_1 {
                    margin-top: 50px;   
                    width: 580px;
                }

                .progress-container {
                    position: relative;
                }

                .progress-bg {
                    top: 60px;
                    width: 100%;
                    height: 22px;
                }

                .progress-bar {
                    position: absolute;
                    width: 255px;
                    height: 3px;
                }

                .progress-bar-completed {
                    background: #57A635;
                }

                .progress-bar-pending{
                    background: #CDD2DE;
                }

                .progress-bar1 {
                    top: 10px;
                    left: 25px;
                }

                .progress-bar2 {
                    top: 10px;
                    left: 308px;
                }

                .progress-ball {
                    position: absolute;
                    width: 21px;
                    height: 21px;

                    box-sizing: border-box;
                    border-radius: 50%;
                }

                .ball-completed {
                    background: #57A635;
                    border: 1px solid #FFFFFF;
                    font-family: Font Awesome 5 Pro;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 10px;
                    line-height: 12px;
                    /* identical to box height, or 120% */

                    text-align: center;

                    color: #FFFFFF;
                }

                .ball-active {
                    background: #FFFFFF;
                    border: 5px solid #004E87;
                }

                .ball-pending {
                    background: #CDD2DE;
                    border: 1px solid #FFFFFF;
                }

                .progress-ball1 {
                    left: 1px;
                    top: 1px;
                }       

                .progress-ball2 {
                    left: 283px;
                    top: 1px;
                }

                .progress-ball3 {
                    left: 560px;
                    top: 1px;
                }
                .progress-card {
                    position: absolute;
                    top: 30px;
                }

                .card-step1 {
                    left: 1px;
                }

                .card-step2 {
                    left: 250px;
                }

                .card-step3 {
                    left: 490px;
                }

                .progress-title {
                    width: 94px;
                    height: 20px;

                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #004E87;
                }

                .progress-text {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 26px;
                    color: #36393D;
                }
          `;
          var css = document.createElement('style');
          css.type='text/css';
          css.setAttributeNode( document.createAttribute('scopped') );
          css.appendChild(    document.createTextNode( css_text )     );
          this.$el.appendChild(   css     );
      }
    })
  </script>
  <step-progress></step-progress>